<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.source.code.activity">

    <permission
        android:name="scos.permission.ACCESSSCOS"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".SCOSEntry"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreen"
            android:exported="true"
            android:label="菜单"
            android:permission="scos.permission.ACCESSSCOS">
            <intent-filter>
                <action android:name="scos.intent.action.SCOSMAIN" />

                <category android:name="scos.intent.category.SCOSLAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginOrRegister"
            android:label="点餐"
            android:permission="scos.permission.ACCESSSCOS" />
        <activity
            android:name=".FoodView"
            android:label="点餐" />
        <activity
            android:name=".FoodOrderView"
            android:label="订单"
            />
        <activity
            android:name=".FoodDetailed"
            android:label="详情"

            >


        </activity>
    </application>

</manifest>